{% extends 'base.html.twig' %}
{% block body %}

<h3>Commande n° :{{order.id}}</h3>
<p>date :{{order.datecmd|date("m/d/Y")}}</p>
{% for article in order.products %}
<div class="border">
<p>nom :  {{article.titre}}</p>
<p>prix :  {{article.prix}}</p>
<p>quantité :  {{article.quantity}}</p>
{% endfor %}
<p>Total :{{order.total}}</p>
{% endblock %}
