<nav class="navbar navbar-expand-lg bg-secondary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="{{path('home')}}"><span><img src="{{ asset('img/logo.png') }}" class="logo" alt="Logo"></span> Watch Market</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" href="{{path('home')}}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" href="{{path('catalog')}}">Catalogue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{{path('cart')}}">Panier  <i class="fa-solid fa-bag-shopping"></i></a>
        </li>
        {% if app.user != null %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{app.user.getEmail()}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{path('myOrders')}}">Mes commandes</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a class="dropdown-item" href="{{path('admin')}}">Administration</a></li>
            {% endif %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('logout') }}" onclick="removeCart()">Se déconnecter</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item me-md-2">
          <a class="btn btn-light " aria-current="page" href="{{ path('login') }}">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-dark text-white" aria-current="page" href="{{ path('registration') }}">S'inscrire</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  {# <form action="{{path('cart')}}" id="cartForm" method="POST">
    <input id="cartFormInput" name="cartFormInput" type="hidden"/>
  </form> #}
</nav>
<script>
function removeCart() {
  localStorage.removeItem('cart');
}
</script>

{# <script>
//   let cartForm = document.getElementById('cartForm');
//   let cartFormInput = document.getElementById('cartFormInput');
//   let cartButton = document.getElementById('cartButton');
//   cartButton.addEventListener('click',()=>{
//     let JSONcart = localStorage.getItem('cart');
//     // console.log(JSONcart);
//     // debugger;
//     cartFormInput.value = JSONcart;
//     cartForm.submit();
//   })
  
// </script>#}