{% extends 'base.html.twig' %}

{% block title %}Catalog{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/catalog.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <div class="catalog pt-5 pb-5">
        {% for watch in watchs %}
            <a href="{{ path('single_article',{'watchId': watch.id }) }}">
                <div class="article-card card align-items-center rounded shadow">
                    <image class="card-img-top pt-2 h-50 w-50" src="{{asset("img/montres/") ~ watch.image }}"/>
                    <div class="card-body text-center">
                        <h4 class="card-title">{{watch.titre}}</h4>
                        <p class="text-secondary">{{watch.description}}</p>
                        <h6 class="fw-bold">{{watch.prix}} €</h6>
                        {% if app.user %}
                        <button class="btn btn-dark" onclick="addCart({{watch.id}},{{app.user.id}})">Ajouter au panier</button>
                        {% else %}
                        <button class="btn btn-dark" onclick="addCart({{watch.id}})">Ajouter au panier</button>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
